<div class="view-container">
  <h2>Animal record successfully deleted</h2>

  <form method="GET" action="/animals">
    <input type="submit" value="Return to All Animals" class="button" />
  </form>
</div>