<h1>All our lovely animals</h1>

<p>
<input type="text" name="search" placeholder="Search by breed">

</p>


<% @animals.each do |animal| %>

<p>Name: <%= animal.name %></p>
<p>Breed: <%= animal.breed %></p>




<p><a href="/animals/<%= animal.id %>">Find out more</a></p>
<hr/>

<% end %>

