<h1>All our lovely animals</h1>



<body>
  <% @animals.each do |animal| %>
  <p>Name: <%= animal.name %></p>
  <p>Breed: <%= animal.breed %></p>


  <form method="GET" action="/animals/<%= animal.id %>">
  <input type="submit" value="Find out more">
  </form>
  <hr/>

  <% end %>
</body>
  






