<form action="/animals" method="post">
<ul>
<li>
<label for="name-field">Name:</label>
<input id="name-field" name="name" type="text"/>
</li>
<li>
<label for="gender-field">Second Name:</label>
<input id="gender-field" type="text" name="gender">
</li>
<li>
<label for="admission-date">Date admitted:</label>
<input type="date" id="admission-date" name="admission-date">
</li>
<li>
<input type="submit" value="Add animal">
</ul>
</form>