<form class= "display" action="/animals" method="POST">

<h2>Insert new animal details</h2>
<div class="new view-container">
  <ul>
    <li>
      <label for="name-field">Name:</label>
      <input id="name-field" name="name" type="text"/>
    </li>
    <li>
      <label for="breed-field">Breed:</label>
      <input type="text" id="breed-field" name="breed"/>
    </li>
    <li>
      <label for="date-admitted-field">Date admitted:</label>
      <input type="text" id="date-admitted-field" name="admission_date"/>
    </li>
    
    <li>
      <label for="ready-to-adopt">Ready for adoption?</label>
      <select id= "ready-select" name="ready_to_adopt">
        <option value="Ready">Ready</option>
        <option value="Not Ready">Not Ready</option>
        </select>

    </li>
  </ul>

<input type="submit" value="Add animal" class="button" />
</form>
</div>