<form action="/animals" method="GET">

<h2>Insert new animal details</h2>

<ul>
  <li>
    <label for="name-field">Name:</label>
    <input id="name-field" name="name" type="text"/>
  </li>
  <li>
    <label for="breed-field">Breed:</label>
    <input type="text" id="breed-field" name="breed">
  </li>
  <li>
    <label for="date-admitted-field">Date admitted:</label>
    <input type="text" id="date-admitted-field" name="date-admitted">
  </li>
  
  <li>
    

  </li>
</ul>

<input type="submit" value="Add animal">
</form>