<h2>Animals matching that breed:</h2>
<% @animals.each do |animal| %>

<p>Name: <%= animal.name %></p>
<p>Breed: <%= animal.breed %></p>
<p><a href="/animals/<%= animal.id %>">Find out more</a></p>
<hr>

<% end %>