<h2>Animal details successfully updated!</h2>

<body>
<form class= "display"method="GET" action="/animals/<%= @animal.id %>">
<input type="submit" value="Return to Animal details" class="button">
</form>
</body>