<h1> Welcome to the fictional Animal Shelter</h1>

<h2>Search for animals by breed:</h2>
  <form action= "/animals/search" method="GET">
    <select id= "breed-select" name="breed">
      <% @animals.each do |animal| %>
      <option value="<%=animal.breed %>" >
      <%= animal.breed %>
      </option>
      <%end%>
    </select>
<p>
    <input type="submit" value="Search">
 </form>
</p>
