<div class="welcome-container">

  <h2> Welcome to Miss Louise's Home for Mythical Beasts database management</h2>


  <h3>Search for animals by breed:</h3>
    <form class= "search" action= "/animals/search" method="GET">

     <input type="text" name="breed" class="searchbox">
     <input type="submit" value="search" class="button">
    </form>
</div>

 
