<h1> Welcome to the fictional Animal Shelter</h1>

<p>
<form action= "/animals/search" method="GET">
  <select id= "breed-select" name="breed">
    <option value="Unicorn">Unicorn</option>
    <option value="dragon">Dragon</option>
    </select>

    <input type="submit" value="Search">
 </form>
</p>