input[type=text] {
  outline: none;
}

input[type=text]:focus{
  border: 2px solid black;
}

select {
  font-size: 0.9em;
}


form {
  padding-left: 16px;
  padding-bottom: 16px;
}

.display {

}

.new {
  width: 50%;
  margin: auto;
}

.show {
  text-align: center;
  padding-top: 14px;
}

.view-container {
  padding: 30px;
  width: 90%;
  max-width: 820px;
  border: 1px #FDF8EE;
  background-color: #FDF8EE;
  margin: 20px auto;
  border-radius: 6px;
}