body {
  font-family: 'Modern Antiqua', cursive; 
  background-image:  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111111;
    

}

 li.index {
    float: left;

}

 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

ul.new {
  background-color: white;
}

h1 {
  text-align: center;
  padding-bottom: 14px;
  padding-top: 14px;
}

h2 {
  padding-left: 14px;
}

h2.description {
text-align: center;
padding-bottom: 20px;

}

p {
  padding-left: 14px;
}

