<form action="/owners" method="GET">

<h2>Insert new owner details</h2>

<ul>
  <li>
    <label for="name-field">Name:</label>
    <input id="name-field" name="name" type="text"/>
  </li>
  <li>
   
  </li>
  <li>
   
  </li>
  
  <li>
    

  </li>
</ul>

<input type="submit" value="Add animal">
</form>