<div class="view-container">
  <h2>Owner details succesfully updated!</h2>

  <body>
    <form method="GET" action="/owners/<%= @owner.id %>">
    <input type="submit" value="Return to Owner details" class="button"/>
    </form>
  </body>
</div>